<%= form_for [@expedient, @gremio] do |f| %>
	<ul>
		<li style="display: inline-block;"><A HREF="javascript:history.go(-1)" data-role="button" data-theme="c">Atras</A></li>
		<li style="display: inline-block;"><%= link_to_function "Crear", "javascript:$('.new_gremio').submit(); return false;", :'data-role' => "button", :'data-theme'=>"b" %></li>
	</ul>
  <% if @gremio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gremio.errors.count, "error") %> prohibited this gremio from being saved:</h2>

      <ul>
      <% @gremio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<table style="width: 100%;">
		<tr>
			<td><span>Direccion : </span></td>
			<td colspan="3" style="width: 80%;">
				<select id="post_person_id" name="post[person_id]">
					<option><%= @expedient.nombre %></option>
					<% Perjudicado.where(:expedient_id => params[:id]).each do |perjudicado| %>
						<option><%= perjudicado.nombre %></option>
					<% end %>
				</select>
		</tr>
		<tr>
			<td><span>Gremio :</span></td>
			<td><div class="field"><%= f.select :gremio, ['Fontaneria','Albañileria','Pintura','Electricidad','Limpieza','Camion cuba','Parquet','Metalista','Carpinteria','Pavimentos continuos'] %></div></td>
			<td><span>Profesional :</span></td>
			<td><div class="field"><%= f.text_field :prof, :style => "width: 90%;" %></div></td>
		</tr>
	</table>
	
	<table>
		
	</table>

		<div class="ui-grid-b">
			<div class="ui-block-a" style="width:10%; "><h5>Fin prevista</h5></div>
			<div class="ui-block-b" style="width:57%; ">
				<div data-role="fieldcontain" style="text-align:left;">
					<fieldset data-role="controlgroup" data-type="horizontal">
					<legend></legend>

					<label for="select-choice-day">Dia</label>
					<select id="select-choice-day" name="gremio[finPrev(3i)]">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
						<option value="14">14</option>
						<option value="15">15</option>
						<option value="16">16</option>
						<option value="17">17</option>
						<option value="18">18</option>
						<option value="19">19</option>
						<option value="20">20</option>
						<option value="21">21</option>
						<option value="22">22</option>
						<option value="23">23</option>
						<option value="24">24</option>
						<option value="25">25</option>
						<option value="26">26</option>
						<option value="27">27</option>
						<option value="28">28</option>
						<option value="29">29</option>
						<option value="30">30</option>
						<option value="31">31</option>
					</select>

					<label for="select-choice-month">Mes</label>
					<select id="select-choice-month" name="gremio[finPrev(2i)]">
						<option selected="selected" value="1">Enero</option>
						<option value="2">Febrero</option>
						<option value="3">Marzo</option>
						<option value="4">Abril</option>
						<option value="5">Mayo</option>
						<option value="6">Junio</option>
						<option value="7">Julio</option>
						<option value="8">Agosto</option>
						<option value="9">Septiembre</option>
						<option value="10">Octubre</option>
						<option value="11">Noviembre</option>
						<option value="12">Diciembre</option>
					</select>

					<label for="select-choice-year">Año</label>
					<select id="select-choice-year" name="gremio[finPrev(1i)]">
					<option value="2012">2012</option>
					<option value="2013">2013</option>
					<option value="2014">2014</option>
					<option value="2015">2015</option>
					<option value="2016">2016</option>
					<option value="2017">2017</option>
				</select>
				</fieldset>
				</div>
			</div>
			
			<div class="ui-block-c" style="width:33%; ">
				<div data-role="fieldcontain">
				<fieldset data-role="controlgroup" data-type="horizontal">
					<legend></legend>

					<label for="select-choice-day">Hora</label>
					<select id="select-choice-day" name="gremio[Hora(4i)]">
						<option value="00">00</option>
						<option value="01">01</option>
						<option value="02">02</option>
						<option value="03">03</option>
						<option value="04">04</option>
						<option value="05">05</option>
						<option value="06">06</option>
						<option value="07">07</option>
						<option value="08">08</option>
						<option value="09">09</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
						<option value="14">14</option>
						<option value="15">15</option>
						<option value="16">16</option>
						<option value="17">17</option>
						<option value="18">18</option>
						<option value="19">19</option>
						<option value="20">20</option>
						<option value="21">21</option>
						<option value="22">22</option>
						<option value="23">23</option>
					</select>

					<label for="select-choice-month">Minutos</label>
					<select id="select-choice-month" name="gremio[Hora(5i)]">
						<option value="00">00</option>
						<option value="01">01</option>
						<option value="02">02</option>
						<option value="03">03</option>
						<option value="04">04</option>
						<option value="05">05</option>
						<option value="06">06</option>
						<option value="07">07</option>
						<option value="08">08</option>
						<option value="09">09</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
						<option value="14">14</option>
						<option value="15">15</option>
						<option value="16">16</option>
						<option value="17">17</option>
						<option value="18">18</option>
						<option value="19">19</option>
						<option value="20">20</option>
						<option value="21">21</option>
						<option value="22">22</option>
						<option value="23">23</option>
						<option value="24">24</option>
						<option value="25">25</option>
						<option value="26">26</option>
						<option value="27">27</option>
						<option value="28">28</option>
						<option value="29">29</option>
						<option value="30">30</option>
						<option value="31">31</option>
						<option value="32">32</option>
						<option value="33">33</option>
						<option value="34">34</option>
						<option value="35">35</option>
						<option value="36">36</option>
						<option value="37">37</option>
						<option value="38">38</option>
						<option value="39">39</option>
						<option value="40">40</option>
						<option value="41">41</option>
						<option value="42">42</option>
						<option value="43">43</option>
						<option value="44">44</option>
						<option value="45">45</option>
						<option value="46">46</option>
						<option value="47">47</option>
						<option value="48">48</option>
						<option value="49">49</option>
						<option value="50">50</option>
						<option value="51">51</option>
						<option value="52">52</option>
						<option value="53">53</option>
						<option value="54">54</option>
						<option value="55">55</option>
						<option value="56">56</option>
						<option value="57">57</option>
						<option value="58">58</option>
						<option value="59">59</option>
					</select>
				</fieldset>
				</div>
			</div>
		</div><!-- /grid-a -->
		
		<div class="ui-grid-b">
			<div class="ui-block-a" style="width:10%; "><h5>Fecha Fin</h5></div>
			<div class="ui-block-b" style="width:57%; ">
				<div data-role="fieldcontain">
					<fieldset data-role="controlgroup" data-type="horizontal">
					<legend></legend>

					<label for="select-choice-day">Dia</label>
					<select id="select-choice-day" name="gremio[FechaFin(3i)]">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
						<option value="14">14</option>
						<option value="15">15</option>
						<option value="16">16</option>
						<option value="17">17</option>
						<option value="18">18</option>
						<option value="19">19</option>
						<option value="20">20</option>
						<option value="21">21</option>
						<option value="22">22</option>
						<option value="23">23</option>
						<option value="24">24</option>
						<option value="25">25</option>
						<option value="26">26</option>
						<option value="27">27</option>
						<option value="28">28</option>
						<option value="29">29</option>
						<option value="30">30</option>
						<option value="31">31</option>
					</select>

					<label for="select-choice-month">Mes</label>
					<select id="select-choice-month" name="gremio[FechaFin(2i)]">
						<option selected="selected" value="1">Enero</option>
						<option value="2">Febrero</option>
						<option value="3">Marzo</option>
						<option value="4">Abril</option>
						<option value="5">Mayo</option>
						<option value="6">Junio</option>
						<option value="7">Julio</option>
						<option value="8">Agosto</option>
						<option value="9">Septiembre</option>
						<option value="10">Octubre</option>
						<option value="11">Noviembre</option>
						<option value="12">Diciembre</option>
					</select>

					<label for="select-choice-year">Año</label>
					<select id="select-choice-year" name="gremio[FechaFin(1i)]">
					<option value="2012">2012</option>
					<option value="2013">2013</option>
					<option value="2014">2014</option>
					<option value="2015">2015</option>
					<option value="2016">2016</option>
					<option value="2017">2017</option>
				</select>
				</fieldset>
				</div>
			</div>
			
			<div class="ui-block-c" style="width:33%; ">
				<div data-role="fieldcontain">
				<fieldset data-role="controlgroup" data-type="horizontal">
					<legend></legend>

					<label for="select-choice-day">Hora</label>
					<select id="select-choice-day" name="gremio[HFin(4i)]">
						<option value="00">00</option>
						<option value="01">01</option>
						<option value="02">02</option>
						<option value="03">03</option>
						<option value="04">04</option>
						<option value="05">05</option>
						<option value="06">06</option>
						<option value="07">07</option>
						<option value="08">08</option>
						<option value="09">09</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
						<option value="14">14</option>
						<option value="15">15</option>
						<option value="16">16</option>
						<option value="17">17</option>
						<option value="18">18</option>
						<option value="19">19</option>
						<option value="20">20</option>
						<option value="21">21</option>
						<option value="22">22</option>
						<option value="23">23</option>
					</select>

					<label for="select-choice-month">Minutos</label>
					<select id="select-choice-month" name="gremio[HFin(5i)]">
						<option value="00">00</option>
						<option value="01">01</option>
						<option value="02">02</option>
						<option value="03">03</option>
						<option value="04">04</option>
						<option value="05">05</option>
						<option value="06">06</option>
						<option value="07">07</option>
						<option value="08">08</option>
						<option value="09">09</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
						<option value="14">14</option>
						<option value="15">15</option>
						<option value="16">16</option>
						<option value="17">17</option>
						<option value="18">18</option>
						<option value="19">19</option>
						<option value="20">20</option>
						<option value="21">21</option>
						<option value="22">22</option>
						<option value="23">23</option>
						<option value="24">24</option>
						<option value="25">25</option>
						<option value="26">26</option>
						<option value="27">27</option>
						<option value="28">28</option>
						<option value="29">29</option>
						<option value="30">30</option>
						<option value="31">31</option>
						<option value="32">32</option>
						<option value="33">33</option>
						<option value="34">34</option>
						<option value="35">35</option>
						<option value="36">36</option>
						<option value="37">37</option>
						<option value="38">38</option>
						<option value="39">39</option>
						<option value="40">40</option>
						<option value="41">41</option>
						<option value="42">42</option>
						<option value="43">43</option>
						<option value="44">44</option>
						<option value="45">45</option>
						<option value="46">46</option>
						<option value="47">47</option>
						<option value="48">48</option>
						<option value="49">49</option>
						<option value="50">50</option>
						<option value="51">51</option>
						<option value="52">52</option>
						<option value="53">53</option>
						<option value="54">54</option>
						<option value="55">55</option>
						<option value="56">56</option>
						<option value="57">57</option>
						<option value="58">58</option>
						<option value="59">59</option>
					</select>
				</fieldset>
				</div>
			</div>
		</div><!-- /grid-a -->

  
  <div class="field">
    <%= f.label :descripcion %><br />
    <%= f.text_area :descripcion, :style => "width:100%;" %>
  </div>


	<table style="width:100%;">
		<tr>
			<td><span>IVA(%) :</span></td>
			<td style="width:40%;">
				<select id="gremio_iva" name="gremio[iva]">
					<option value="18">18</option>
					<option value="8">8</option>
					<option value="0">0</option>
				</select>
			</td>
			<td><%= f.label :facturada %><%= f.check_box :facturada %></td>
			<td><input type="checkbox" id="gremio_albaranada" name="gremio[albaranada]" value="yes" /><label for="gremio_albaranada">Cobrada</label></td>
		</tr>
	</table>

<% end %>