<p id="notice"><%= notice %></p>

<p>
  <b>Gremio:</b>
  <%= @gremio.gremio %>
</p>

<p>
  <b>Prof:</b>
  <%= @gremio.prof %>
</p>

<p>
  <b>Finprev:</b>
  <%= @gremio.finPrev %>
</p>

<p>
  <b>Hora:</b>
  <%= @gremio.Hora %>
</p>

<p>
  <b>Fechafin:</b>
  <%= @gremio.FechaFin %>
</p>

<p>
  <b>Hfin:</b>
  <%= @gremio.HFin %>
</p>

<p>
  <b>Conformeaseg:</b>
  <%= @gremio.conformeAseg %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @gremio.descripcion %>
</p>

<p>
  <b>Iva:</b>
  <%= @gremio.iva %>
</p>

<p>
  <b>Destfact:</b>
  <%= @gremio.destFact %>
</p>

<p>
  <b>Facturada:</b>
  <%= @gremio.facturada %>
</p>

<p>
  <b>Albaranada:</b>
  <%= @gremio.albaranada %>
</p>


<%= link_to 'Edit', edit_expedient_gremio_path(@gremio) %> |
<%= link_to 'Back', expedient_gremios_path %>
