<ul>
	<li style="display: inline-block;"><%= link_to 'Edit', edit_expedient_path(@expedient), :class => "button" %></li>
	<li style="display: inline-block;"><%= link_to 'Back', expedients_path, :class => "button" %></li>
</ul>

<p id="notice"><%= notice %></p>

<p>
  <b>Compañia:</b>
  <%= @expedient.compania %>
</p>

<p>
  <b>Ciaproced:</b>
  <%= @expedient.ciaProced %>
</p>

<p>
  <b>Refcia:</b>
  <%= @expedient.refCia %>
</p>

<p>
  <b>Tlfcia:</b>
  <%= @expedient.tlfCia %>
</p>

<p>
  <b>Numpoliza:</b>
  <%= @expedient.numPoliza %>
</p>

<p>
  <b>Contacto:</b>
  <%= @expedient.contacto %>
</p>

<p>
  <b>Numref:</b>
  <%= @expedient.numRef %>
</p>

<p>
  <b>Nombre:</b>
  <%= @expedient.nombre %>
</p>

<p>
  <b>Calle:</b>
  <%= @expedient.calle %>
</p>

<p>
  <b>Domicilio:</b>
  <%= @expedient.domicilio %>
</p>

<p>
  <b>Numero:</b>
  <%= @expedient.numero %>
</p>

<p>
  <b>Piso:</b>
  <%= @expedient.piso %>
</p>

<p>
  <b>Apellido1:</b>
  <%= @expedient.apellido1 %>
</p>

<p>
  <b>Localidad:</b>
  <%= @expedient.localidad %>
</p>

<p>
  <b>Poblacion:</b>
  <%= @expedient.poblacion %>
</p>

<p>
  <b>Apellido2:</b>
  <%= @expedient.apellido2 %>
</p>

<p>
  <b>Cpostal:</b>
  <%= @expedient.cPostal %>
</p>

<p>
  <b>Zona:</b>
  <%= @expedient.zona %>
</p>

<p>
  <b>Contactoasegurado:</b>
  <%= @expedient.contactoAsegurado %>
</p>

<p>
  <b>Nif:</b>
  <%= @expedient.nif %>
</p>

<p>
  <b>Tlf1:</b>
  <%= @expedient.tlf1 %>
</p>

<p>
  <b>Tlf2:</b>
  <%= @expedient.tlf2 %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @expedient.descripcion %>
</p>

<p>
  <b>Urgente:</b>
  <%= @expedient.urgente %>
</p>

<p>
  <b>Perito:</b>
  <%= @expedient.perito %>
</p>

<p>
  <b>Agente:</b>
  <%= @expedient.agente %>
</p>

<p>
  <b>Esteticos:</b>
  <%= @expedient.esteticos %>
</p>

<p>
  <b>Franquicia:</b>
  <%= @expedient.franquicia %>
</p>

<p>
  <b>Valorfranquicia:</b>
  <%= @expedient.valorFranquicia %>
</p>

<p>
  <b>Maxauto:</b>
  <%= @expedient.maxAuto %>
</p>

<p>
  <b>Daños:</b>
  <%= @expedient.danos %>
</p>

<p>
  <b>Categoria:</b>
  <%= @expedient.categoria %>
</p>

<p>
  <b>Dfact:</b>
  <%= @expedient.dFact %>
</p>

<p>
  <b>Tipo:</b>
  <%= @expedient.tipo %>
</p>

<p>
  <b>Estado:</b>
  <%= @expedient.estado %>
</p>
